[Desktop Entry]
Type=Link
Name=Soc lab-2 xml dtd
URL=https://docs.google.com/document/d/1dm1DrRpkGLahfyFO0xz5bYNmiFYAfMymDuipcf44yIg/edit?usp=drivesdk
